{% extends "base.html" %}

{% block content %}



<main class="main">

  <!-- Hero Section -->
  <section id="hero" class="hero section">

    <img src="{{ url_for('static', filename='img/profileok.jpg')}}" alt="" data-aos="fade-in">

    <div class="container text-center" data-aos="zoom-out" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-lg-8">
        <h1 class="fw-bold">Hi, I'm <span class="text-primary">Mike OMAR</span></h1>
          <p>Passionate Full-stack Web Developper</p>
          <a href="/about" class="btn-get-started">About me</a>
        </div>
      </div>
    </div>

  </section><!-- /Hero Section -->

</main>



{% endblock %}

