{% extends "base.html" %}

{% block content %}


<main class="main">

  <!-- Portfolio Details Section -->
  <section id="portfolio-details" class="portfolio-details section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Portfolio Details</h2>
      <p>Behind every interface lies a story of passion and precision.</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row gy-4">

        <div class="col-lg-8">
          <div class="portfolio-details-slider swiper init-swiper">

            <script type="application/json" class="swiper-config">
              {
                "loop": true,
                "speed": 600,
                "autoplay": {
                  "delay": 5000
                },
                "slidesPerView": "auto",
                "pagination": {
                  "el": ".swiper-pagination",
                  "type": "bullets",
                  "clickable": true
                }
              }
            </script>

            <div class="swiper-wrapper align-items-center">

              <div class="swiper-slide">
                <img src="{{ url_for('static', filename='img/portfolio/app-1.jpg' )}}" alt="">
              </div>

              <div class="swiper-slide">
                <img src="{{ url_for('static', filename='img/portfolio/product-1.jpg' )}}" alt="">
              </div>

              <div class="swiper-slide">
                <img src="{{ url_for('static', filename='img/portfolio/branding-1.jpg' )}}" alt="">
              </div>

              <div class="swiper-slide">
                <img src="{{ url_for('static', filename='portfolio/books-1.jpg' )}}img/" alt="">
              </div>

            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="portfolio-info" data-aos="fade-up" data-aos-delay="200">
            <h3>Project information</h3>
            <ul>
              <li><strong>Category</strong>: Web design</li>
              <li><strong>Client</strong>: ASU Company</li>
              <li><strong>Project date</strong>: 01 March, 2020</li>
              <li><strong>Project URL</strong>: <a href="#">www.example.com</a></li>
            </ul>
          </div>
          <div class="portfolio-description" data-aos="fade-up" data-aos-delay="300">
            <h2>Project spotlight from idea to impactful solution.</h2>
            <p>
              Every project begins with a spark of an idea.
From there, I carefully plan and design the concept.
I focus on creating solutions that are both functional and visually appealing.
Through development and iteration, the idea takes shape.
Each step is guided by strategy, creativity, and attention to detail.
The result is a powerful, impactful solution that truly makes a difference.
            </p>
          </div>
        </div>

      </div>

    </div>

  </section><!-- /Portfolio Details Section -->

</main>

{% endblock %}