{% extends "base.html" %}

{% block content %}


<main class="main">

  <!-- Resume Section -->
  <section id="resume" class="resume section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Resume</h2>
      <p>A journey built on passion, learning, and innovation.</p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row">

        <div class="col-lg-5" data-aos="fade-up" data-aos-delay="100">
          <h3 class="resume-title">Sumary</h3>

          <div class="resume-item pb-0">
            <h4>Mike OMAR</h4>
            <p><em>Passionate about design and web development, I'm a innovative full-stack Developer and Designer
                        focused on user Experience and high-quality results.
                        For over 3 years, I've been crafting modern, dynamic, and intuitive websites and applications that not only look great but also deliver seamless user experiences.
                        My goal : turn ideas into engaging and functional digital products that leave a lasting impression.
                      </em></p>
            <ul>
              <li>29 Ngaliema,Kinshasa, DRC</li>
              <li>(243) 979-018-767</li>
              <li>mikeomar92@gmail.com</li>
            </ul>
          </div><!-- Edn Resume Item -->

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>Bachelor in Computer Engineering</h4>
            <h5>2022 - 2025</h5>
            <p><em>National Pedagogical Universite, UPN, KINSHASA</em></p>
            <p>My studies in Computer Engineering at the Université Pédagogique Nationale (UPN) in the DRC allowed me to turn my passion for technology into real expertise — blending theory, creativity, and problem-solving to shape digital solutions.</p>
          </div><!-- Edn Resume Item -->

          <div class="resume-item">
            <h4>Undergraduat diploma in Biomedical Sciences</h4>
            <h5>2017 - 2020</h5>
            <p><em>University of Kinshasa, UNIKIN, KINSHASA</em></p>
            <p>My academic journey in Biomedical Sciences at the University of Kinshasa (UNIKIN) allowed me to explore the intersection between science and technology, strengthening my curiosity and analytical mindset.</p>
          </div><!-- Edn Resume Item -->

        </div>

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
          <h3 class="resume-title">Professional Experience</h3>
          <div class="resume-item">
          <h4>Senior graphic design</h4>
          <h5>2023 - Present</h5>
          <p><em>Experion, kinshasa, DRC </em></p>
            <ul>
              <li>Lead in the design, development, and implementation of the graphic, layout, and production communication materials</li>
              <li>Delegate tasks to the 7 members of the design team and provide counsel on all aspects of the project. </li>
              <li>Supervise the assessment of all graphic materials in order to ensure quality and accuracy of the design</li>
              <li>Oversee the efficient use of production project budgets ranging from $2,000 - $25,000</li>
            </ul>
          </div><!-- Edn Resume Item -->

          <div class="resume-item">
            <h4>Graphic design</h4>
            <h5>2020 - 2022</h5>
            <p><em>Umoja print, Kinshasa, DRC</em></p>
            <ul>
              <li>Developed numerous marketing programs (logos, brochures,infographics, presentations, and advertisements).</li>
              <li>Managed up to 5 projects or tasks at a given time while under pressure</li>
              <li>Recommended and consulted with clients on the most appropriate graphic design</li>
              <li>Created 4+ design presentations and proposals a month for clients and account managers</li>
            </ul>
          </div><!-- Edn Resume Item -->

        </div>

        <div class="col-lg-3" data-aos="fade-up" data-aos-delay="200">
            <h3 class="resume-title">Trainings</h3>
            <div class="resume-item">
                <h4>Python Programmation</h4>
                <h5>2022 - Present</h5>
                <p><em>OpenClassroom, Online</em></p>
            </div><!-- Edn Resume Item -->

            <div class="resume-item">
                <h4>Community Manager</h4>
                <h5>DECEMBER 2023</h5>
                <p><em>ITM, Kinshasa, DRC</em></p>
            </div><!-- Edn Resume Item -->

            <div class="resume-item">
                <h4>BOOTSTRAP </h4>
                <h5>OCTOBER 2023</h5>
                <p><em>OpenClassroom, Online</em></p>
            </div><!-- Edn Resume Item -->

            <div class="resume-item">
                <h4>administrative correspondence</h4>
                <h5>NOVEMBER 2023</h5>
                <p><em>Karibuni Library, Kinshasa, DRC</em></p>
            </div><!-- Edn Resume Item -->

            <div class="resume-item">
                <h4>Graphic design</h4>
                <h5>2020 - 2023</h5>
                <p><em>UmojaPrint, Kinshasa, DRC</em></p>
                <ul>
                    <li>ADOBE PHOTOSHOP</li>
                    <li>CANVAS</li>
                    <li>ADOBE InDESING</li>
                    <li>ADOBE ILLUSTRATOR</li>
                    <li>LIGHTROOM</li>
                    <li>ADOBE PREMIERE PRO</li>
                </ul>
            </div><!-- Edn Resume Item -->

        </div>


      </div>

    </div>

  </section><!-- /Resume Section -->

</main>

{% endblock %}